# Superuser created on first init (empty data volume). When using uServer orchestration, set this to the same value as USERVER_DB_USER in the stack .env.
POSTGRES_USER=postgres
POSTGRES_PASSWORD=
PGDATA=/var/lib/postgresql/data/pgdata
